* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: grey;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

/* Header Style */

header {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-position: 100%;
  background-attachment: fixed;
  background-color: grey;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  opacity: 0.75;
}

header h1 {
  font-size: 40px;
  border-bottom: 5px solid grey;
  color: white;
  margin: 10;
  text-shadow: #fff 0px 0px 1px;
}

header h1:hover {
  font-size: 50px;
  background: white;
  color: grey;
  border-radius: 20px;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0px 10px 0px 10px;
  border-bottom: 5px solid white;
}

header nav ul li a:hover {
  background: white;
  color: grey;
  border-radius: 15px;
  text-shadow: none;
}

/* Hero Style */

.hero div {
  flex: 0 0 90%;
}

.hero {
  background-position: center;
  background-image: url("../images/banner.jpg");
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  margin-bottom: 20px;
  height: 200px;
}

.hero h2 {
  font-size: 35px;
  color: grey;
  background-color: white;
  line-height: 5;
  display: inline;
  margin-right: 50px;
}

/* Section Style */

.topic-section {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 85%;
  margin: 0 auto 0 auto;
}

.section-title {
  font-size: 30px;
  display: flex;
  border-right: 3px solid;
  margin: 10px;
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  height: 100%;
}

.title-container {
  width: 15%;
  height: 100%;
}

.paragraph-container {
  width: 85%;
}

.paragraph-container p {
  margin: 10px 0 10px 0;
}

.paragraph-container img {
  align-items: center;
  border-color: brown;
}

/* Grid */

.grid-container {
  display: grid;
  gap: 10px 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(150px, 1fr);
  width: 85%;
}

.grid-item {
  display: flex;
  min-height: 150px;
  color: white;
  padding: 5px;
  margin: 10px;
  border: 5px solid brown;
  align-items: flex-end;
  padding: 0 0 20px 0;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  grid-column: span 4;
  grid-row: span 1;
}

.grid-item:first-child {
  grid-column: span 8;
  grid-row: span 2;
}

.grid-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.grid-item div {
  background-color: grey;
  padding: 8px 10px;
}

.aboutme-text p {
  margin: 10px;
}

h2 {
  padding: 0 5px;
  margin: 0 5px;
}

/* Contact Info  */

.contact-info-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: space-around;
  align-items: center;
  color: grey;
  transition: all 0.5s;
}

.contact-info-container a {
  color: grey;
  border-bottom: 5px solid;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

.contact-info-container img {
  height: 30px;
  width: 30px;
}

.contact-info-container a:hover {
  font-size: 20px;
  background-color: grey;
  color: white;
}

.paragraph-container {
  width: 85%;
}

.paragraph-container p {
  margin: 10px 0 10px 0;
}

.paragraph-container img {
  align-items: center;
  border-radius: 50%;
}

/* Grid item images */

.run-buddy {
  background-image: url("../images/run-buddy.png");
}

.horiseon {
  background-image: url("../images/horiseon.png");
}

.coming-soon {
  background-image: url("../images/coming-soon.jpg");
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
  color: white;
  background-color: grey;
  height: 45px;
  padding: 10px;
}

/* Media Queries */

@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 11vw;
  }

  header nav {
    justify-content: center;
  }

  .topic-section > h2,
  .topic-section > div {
    flex: 0 0 100%;
  }

  .topic-section > h2 {
    border-right: none;
    border-bottom: 4px solid;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 9vw;
  }
}

@media screen and (max-width: 768px) {
  .grid-item,
  .grid-item:first-child {
    grid-column: 1 / -1;
  }

  .grid-container {
    grid-auto-rows: minmax(200px, 1fr);
  }

  .hero {
    justify-content: center;
    text-align: center;
  }

  .contact-info-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
